@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.card {
    align-self: center;
    border-radius: 12px;
    color: white;
    height: auto;
    width: 255px;
    padding: 15px;
    background-color: hsl(216, 50%, 16%)
}

.card-txt {

    text-align: left;
    padding: 0px;
    margin-top: 20px;
    height: 125px;
    max-height: 100%;
}

.card-txt p {
    margin: 15px 0px 15px 0px;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
}

.card-img{
    position: relative;

}

.card-img img{
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
    /* padding: 10px; */

}

.card-img:hover .background {
    background-color: aqua;
    opacity: 0.4;
    border-radius: 10px;

}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #04AA6D;
    transition: .5s ease;
}

.icon {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.nums {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

}

.num p {
    font-size: 12px;
}

.img-avtr {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
}

.footer {
    display: flex;
    justify-content: space-around;
}
.footer p{
    margin-top: 15px;
    font-size: 15px;
}

.green {
    font-family: 'Outfit', sans-serif;
}

.green:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.diamond{
    color: aqua;
}
.nums span::before{
    content: '';

}
.icon-clock{
margin: 8px;
    line-height: 0;
    color: hsl(215, 51%, 70%);
}